*{
    margin: 5px;
    padding: 5px;
}
:root {
    --light: linear-gradient(
        rgba(232, 102, 236, 0.3) 5%,
        rgba(232, 102, 236, 0.6) 100%
    );
    --glow: inset 0px 0px 8px
    rgba(232, 102, 236, 1), 0 0 15px
    rgba(232, 102, 236, 1);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(90, 90, 90);
    color: white;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#info {
    width: 1180px;
}

#purple {
    color: rgba(232, 102, 236, 1);
}

main {
    display: grid;
    grid-template-columns: 450px 450px 450px;
    grid-template-rows: 350px 350px;
}

section, .headCard {
    transition: all 0.5s ease-in-out;
}
section:hover, .headCard {
    box-shadow: inset 0px 0px 8px
    rgba(232, 102, 236, 1), 0 0 15px
    rgba(232, 102, 236, 1);
}
.card {
    padding: 10px;
    border: 1px dashed;
    height: 240px;
    width: 350px;
}
h2 {
    position: relative;
    margin-top: -40px;
    text-align: center;
    background-color: rgb(90, 90, 90);
    color: rgba(232, 102, 236, 1);
    border: 1px solid white;
    border-radius: 5px;
    width: 300px;
}
.subCard {
    background-image: var(--light);
    border-radius: 5px;
}
pre {
    user-select: all;
}
pre::selection {
    background: rgba(232, 102, 236, 1);
}



@media screen and (max-width: 1400px) {
    #info {
        width: 800px;
    }
    main {
        grid-template-columns: 400px 400px;
        grid-template-rows: 300px 300px 300px;
    }
}
@media screen and (max-width: 850px) {
    #info {
        width: 400px;
    }
    main {
        grid-template-columns: 400px;
        grid-template-rows: 300px 300px 300px 300px;
    }
}